html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

h1 { margin: 0; }
h3 { margin: 0 0 20px; }

hr {
  width: 50%;
  margin: 50px auto;
}

.header {
  text-align: center;
  margin: 25px 0;
}

.card {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  width: 50%;
  margin: 10px auto;
  padding: 10px 20px;
}

.message { padding: 10px; }
